<?xml version="1.0" encoding="UTF-8"?>
<config>    
    <frontend>
        <routers>
            <helloworld>
                <use>standard</use>
                <args>
                    <module>Techtea_Helloworld</module>
                    <frontName>helloworld</frontName>
                </args>
            </helloworld>
        </routers>
    </frontend>
</config>
